# Ignore .htaccess
.htaccess
.htaccess.*

# Ignore upload directories
uploads/biometric_excel_files/*
uploads/csv_file/*

uploads/prebooking-csv-response/*
uploads/master_pdf/*

uploads/vyapari_photo/*
uploads/butcher_photo/*
uploads/health_certificate/*
uploads/certificates/*clear
uploads/generated-qrcodes/*

# But do not ignore the folders themselves
!uploads/prebooking-csv-response/
!uploads/master_pdf
# !uploads/prebooking-csv-response/sample-prebooking-format.csv


# Ignore all files in uploads/users
uploads/users/*

mages/bg_image_dashboard.png

# But do not ignore placeholder.jpg
!uploads/users/placeholder.jpg

# Ignore CI session files
ci_sessions/
/ci_sessions/

# Ignore all .lock and .zip files
*.lock
*.zip
*.xlsx
*.xls
*.sql

error_log
/application/logs
/application/third_party
/application/libraries/
/application/config/database.php
/application/config/config.php

application/config/api_keys.php


